sans_serif($size = 16px, $weight = 300)
	font-family 'Texta', Helvetica, Arial, sans-serif
	font-size $size
	font-weight $weight

slab($size = 24px, $weight = 300)
	font-family 'Klinic Slab', Rockwell, serif
	font-size $size
	font-weight $weight

.widow-fix
	display inline-block